{% extends 'base.html' %}


{% block custome_content %}

    <div class="row justify-content-center mt-5 ">
        <div class="col-md-4 col-md-offset-4 border pt-4 pb-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
<!--                        <i class="far fa-envelope fa fa-lock fa-4x h3"></i>-->
                        <h3 class="h3 pt-4 pb-3"><i class="fa fa-lock fa-3x "></i></h3>
                        <h2 class="h2 pt-3" class="text-center">通过邮箱找回密码</h2>

                        <p class="pb-3 ">请输入您的邮箱地址</p>
                        <div class="panel-body  pl-4 pr-4">

                            <form  action="{% url 'forget_pwd' %}" id="register-form" role="form" autocomplete="off" class="form" method="post">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="far fa-envelope text-secondary fa-1x"></i></span>
<!--                                        <span class="input-group-addon"></span>-->
                                        <input id="email" name="email" placeholder="email address" class="form-control  {% if forget_form.email.errors or msg %} is-invalid {% elif forget_form.email.value %} is-valid {% else %} {% endif %}" value="{{ forget_form.email.value|default:"" }}" type="email" required>
                                         <div class="invalid-feedback">{{ msg }}  {{ forget_form.email.errors|default:"" }}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">发送</button>
<!--                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">-->
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                                  {% csrf_token %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}