{% extends 'base.html' %}
{% load business_model %}

{% block custome_content %}
		<div id="carouselExampleIndicators" class="row carousel slide banner carousel-fade bg-danger "  data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
            {% for banner in all_banners %}
			<div class="carousel-item {% if forloop.counter  == 1 %} active {% endif %}">
				<img class="d-block w-100" src="{{ MEDIA_URL }}{{ banner.image.url}}" alt="{% if forloop.counter == 1%}First slide {% elif forloop.counter  == 2 %} Second slide{% else %} Third slide{% endif %}">
				<div class="carousel-caption d-none d-md-block">
					<h1 class="h1">First slide label</h1>
					<p class>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				</div>

			</div>
            {% endfor %}
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>


		<div class=" main">
			<div class="main_title ">
                <div class="row h-100 align-items-center">
                         <div class="col-lg ">

                        </div>
                        <div class="col-sm  text-center h4 m-0 p-0">
                          我需要钱:
                        </div>
                        <div class="col-sm   m-0 p-0 align-items-center my-auto">
                                <a class="bg-dark" href="{% url 'business:borrow_type_list' %}">
                                <button type="button"  class="btn btn-primary btn-lg btn-block  align-items-center">我要借钱</button>
                                </a>
                        </div>

                        <div class="col-sm  h4 text-center m-0 p-0">
                          我有闲钱:
                        </div>
                          <div class="col-sm  m-0 p-0">
                                   <a href="{% url 'business:bidRequestList' %}">
                                <button type="button" class= "btn btn-lg  btn-dark btn-block">我要出借</button>
                                   </a>
                        </div>

                                    <div class="col-lg ">

                                        </div>
                  </div>
            </div>

			<div class="main_list card border-light">

				<div class="main_list_title card-title border-bottom mb-0 border-primary">
                    <span class="text-primary h4">进行中借款</span>
					<a href="{% url 'business:bidRequestList' %}"></a>
				</div>

                {% all_bid_request_objs as objs %}

                {% for obj in objs %}
                    	<div class="main_list1 ">
					<div class="main_list1_pic">
{#						<div class="warpper" >#}
{#							<a href="#"></a>#}
{#						</div>#}
                        <img class="rounded" style="height: 75px;width: 75px" src="{{ MEDIA_URL }}{{ obj.createUser.userProfile.image.url}}"/>
					</div>
					<table id="main_list_table">
						<tr class="card-">
                            <td><strong class="h6"><a href="{% url 'business:borrow_info' %}?bid={{ obj.id }}">{{ obj.title }}</a></strong></td>
						</tr>

						<tr>
							<td >借贷金额<span id="momey">&yen;{% formate_decimal_show obj.bidRequestAmount %}</span></td>
							<td>年利率<span id="percent">{% formate_decimal_show obj.currentRate  %}%</span></td>
						</tr>

						<tr>
							<td>借贷期限<span id="date">{{ obj.monthes2Return }}</span></td>
							<td>信用等级<span id="level"><img  src="/static/images/credit1.png"/></span></td>
						</tr>

					</table>

					<div class="schedule">

                        <div class="progress mt-5" style="height: 25px;width: 200px">
                            								<div class="progress-bar" role="progressbar" style="width: {{ obj.getPersent }}%;" aria-valuenow="{{ obj.getPersent }}" aria-valuemin="0" aria-valuemax="100">{{ obj.getPersent }}%</div>
{#                          <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>#}

                        </div>
                          <p>已完成<span class="h4" id="schedule_num">103</span>笔投标</p>
					</div>

				</div>
                {% endfor %}

			</div>

			<div class="main_news">
				<div class="main_news_title card-title border-bottom mb-0 border-primary">

                    <span class="text-primary h4 ">最新公告</span>

					<a href="{% url 'webnews:news' %}">更多</a>
				</div>

				<div class="main_news_content1">
                {% for news in last_news %}
					<a href="{% url 'webnews:news_detail' %}?nid={{ news.id }}" class="">{{ forloop.counter }}. {{ news.name|slice:18 }}...</a>

                {% endfor %}
					<h4 class="h5 text-primary">TA投标了</h4>
                    {% for bid in last_bids %}
					<div class="main_news_rent">
						<p>借出金额 <span id="main_news_rent_money">&yen;{{ bid.availableAmount }}</span>{{ bid.bidRequestTitle}}</p>
						<p><time>{{ bid.bidTime }}</time>&nbsp;{{ bid.bidUser.userProfile.username }}</p>
					</div>
                    {% endfor %}

{#                    actualRate = models.DecimalField(max_digits=18, decimal_places=BidConst.STORE_SCALE(), default=BidConst.ZERO(), verbose_name="年化利率")#// (等同于bidrequest上的currentRate)#}
{#    availableAmount = models.DecimalField(max_digits=18, decimal_places=BidConst.STORE_SCALE(), default=BidConst.ZERO(), verbose_name="这次投标金额")# // 这次投标金额#}
{#    bidRequestId = models.ForeignKey(BidRequest,related_name='bids', verbose_name=u"借款标来源", on_delete=models.CASCADE)#// 关联借款 来自于哪个借款标#}
{#    bidRequestTitle = models.CharField(max_length=50,blank=True, null=True, verbose_name="借款标题")#// 冗余数据, 等同于借款标题#}
{#    bidUser = models.ForeignKey(Investor, verbose_name=u"投标人", on_delete=models.CASCADE)#// 借款人#// 投标人#}
{#    bidTime = models.DateTimeField(blank=True,null=True, verbose_name=u"投标时间")#// 投标时间#}


					<h4 class="h5 mt-4 text-primary">TA发布了</h4>

                    {% for bidRequest in last_request_bids %}
					<div class="main_news_rent main_news_rent3">
						<p>发布了借款金额 <span id="main_news_rent_money">&yen;8800</span>{{ bidRequest.title }}</p>
						<p><time>{{ bidRequest.applyTime }}</time>&nbsp;{{ bidRequest.createUser.userProfile.username }}</p>
					</div>

                    {% endfor %}

				</div>
			</div>

			<div class="main_story">
				<div class="main_news_title card-title border-bottom mb-0 border-primary">

                    <span class="text-primary h4">成功故事</span>

					<a href="#">更多</a>
				</div>

				<div class="main_story_p1">
					<div class="story_pic"></div>
					<h5>借贷生财我的经验谈</h5>
					<p>为会员企业提供的融资贷款服务它主要满足会员企业在供的融资贷款服务员企业在生生产…</p>
				</div>

				<div class="main_story_p1">
					<div class="story_pic"></div>
					<h5>借贷生财我的经验谈</h5>
					<p>为会员企业提供的融资贷款服务它主要满足会员企业在供的融资贷款服务员企业在生生产…</p>
				</div>

				<div class="main_story_p1">
					<div class="story_pic"></div>
					<h5>借贷生财我的经验谈</h5>
					<p>为会员企业提供的融资贷款服务它主要满足会员企业在供的融资贷款服务员企业在生生产…</p>
				</div>


			</div>
			<div class="main_media">
				<div class="main_news_title card-title border-bottom mb-0 border-primary">
                    <span class="text-primary h4 mb">媒体报告</span>

					<a href="#">更多</a>
				</div>

				<div class="main_media_p1">
					<div class="media_pic"></div>
					<h5>中央台财经频道</h5>
					<p>为会员企业提供的融资贷款服务它主要满足会员企业在供的融资贷款服务员企业在生生产…</p>
				</div>

				<div class="main_media_p1">
					<div class="media_pic"></div>
					<h5>中央台财经频道</h5>
					<p>为会员企业提供的融资贷款服务它主要满足会员企业在供的融资贷款服务员企业在生生产…</p>
				</div>
			</div>

		</div>

		<div class=" clear"></div>
{% endblock %}


{% block jQuery %}
		<script>
			$(function(){
				var c_start=document.cookie.indexOf('username' + "=");
				if(c_start == -1){
					$("#unentry_status").show();
					$("#person_message").hide();
				}else{
					$("#unentry_status").hide();
					$("#person_message").show();
				}
			});
		</script>
{% endblock %}