

{% extends 'base.html' %}

{% block custome_content %}


		<div class="personal_center_main">
			<div class="personal_center_right">
				<div class="personal_center_right_header" >

                                      <!-- Nav pills -->
                  <ul class="nav nav-pills  mb-0 pt-0" role="tablist" style="	border-bottom: 1px solid #000000;" >
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#personal_home">个人说明</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#count_reward">投资回报统计</a>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content mt-0 pt-0">
                    <div id="personal_home" class="container tab-pane active "><br>
                      <p>华智投资董事长 北京华夏学院校长。如果我们有坚定的长期投资期望,那么短期的价格波动对我们来说就毫无意义,除非它们能够让我们有机会以更便宜的价格增加股份。</p>
                    </div>
                    <div id="count_reward" class="container tab-pane fade"><br>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>


				</div>
				<div class="personal_center_right_main">
{#					<span class="personal_center_right_b3">借款列表</span><span class="personal_center_right_b4">投资记录</span>#}

                    <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#lend_list">借款列表</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#invest_record">投资记录</a>
                    </li>
                  </ul>

					<div class="personal_center_right_content">

                                          <!-- Tab panes -->
                  <div class="tab-content">
                    <div id="lend_list" class="container tab-pane active"><br>
						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>

						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>

						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>

						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>

						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>

						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>

						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>

						<div class="main_list1">
							<div class="main_list1_pic">
								<div class="warpper">
									<a href="#"></a>
								</div>
							</div>
							<table id="main_list_table">
								<tr>
									<td><strong>优质商家信用借贷</strong></td>
								</tr>

								<tr>
									<td>借贷金额<span id="momey">&yen;500,000</span></td>
									<td>年利率<span id="percent">20.00%</span></td>
								</tr>

								<tr>
									<td>借贷期限<span id="date">12个月</span></td>
									<td>信用等级<span id="level"><img src="images/credit2.png"/></span></td>
								</tr>

							</table>

							<div class="schedule">
								<div class="schedule_tip_bg">
									<div class="schedule_tip"></div>
								</div>
								<span id="schedule_percent">36.00%</span>
								<p>已完成<span id="schedule_num">103</span>笔投标</p>
							</div>

						</div>
                    </div>
                    <div id="invest_record" class="container tab-pane fade"><br>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>


						<div class="message_main_page">
							<ul>
								<li class="message_page">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>下一页<span></span></li>

							</ul>
						</div>

					</div>

				</div>
			</div>

			<div class="personal_center_left_header">
				<div class="personal_center_left_header_pic">
					<img id="personal_center_img" src="images/personal_center_left_header_pic.jpg"/>
				</div>

				<h4>陈政</h4>
				<span id="personal_center_username">男</span><span id="personal_center_age">25岁</span>

				<p class="personal_center_borrow">借入信用:<span>13分</span><span><img src="images/personal_center_level.jpg"/></span></p>
				<p class="personal_center_lend">借出信用:<span>13分</span></p>

				<div class="" >
                    <div class="d-flex">
                      <div class="p-2  flex-fill"> <button type="submit" class="btn btn-sm btn-primary btn-block">发信息</button></div>
                      <div class="p-2 flex-fill"><button type="submit" class="btn btn-sm btn-success btn-block">关注TA</button></div>
                    </div>
                </div>

			</div>
			<div class="personal_center_left_handle">
				<h5>我的亲朋好友</h5>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
				<p><span><img src="images/personal_center_left_header_pic2.png"/></span>江龙</p>
			</div>


		</div>

		<div class="clear"></div>



{% endblock %}





