{% load el_pagination_tags %}
{% load business_model %}

<table class="changes_in_account_funds_main3" border="" cellspacing="" cellpadding="">
						<tr>
							<td colspan="6">资金流水记录</td>
						</tr>
						<tr>
							<th style="padding-left: 11px;padding-right: 11px">日期</th>
							<th style="padding-left: 11px;padding-right: 11px">类型</th>
							<th style="padding-left: 11px;padding-right: 11px">金额</th>
							<th style="padding-left: 11px;padding-right: 11px">剩余可用余额</th>
							<th style="padding-left: 11px;padding-right: 11px">剩余冻结金额</th>
							<th style="padding-left: 11px;padding-right: 11px">说明</th>
						</tr>

{% lazy_paginate 6 accountflows using "accountflows-page" %}
{% for accountflow in accountflows %}
						<tr>
							<th>{{ accountflow.tradeTime }}</th>
							<th >{% get_account_flow_type accountflow.accountType  %} </th>
							<th style="padding-left: 15px;padding-right: 15px">&yen;{{ accountflow.amount }}</th>
							<th>&yen;{{ accountflow.usableAmount }}</th>
							<th>&yen;{{ accountflow.freezedAmount }}</th>
							<th>{{ accountflow.note }}</th>
						</tr>
{% endfor %}
					</table>

<div class="pagination pagination-centered  justify-content-center">
  <div>{% show_pages %}</div>
</div>





