{% extends 'base.html' %}

{% load staticfiles %}

{% block custom_js %}


{% endblock %}
{% block custom_css %}
         <link rel="stylesheet" href="{% static 'css/core.css' %}" type="text/css" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/account.css' %}" />

        <style type="text/css">
        body {
            font: 14px/1.5 "Verdana", "微软雅黑", YaHei, tahoma, arial, Hiragino Sans GB, "宋体";
        }
        .el-borrow-form{
            position: relative;
        }
        .el-borrow-form-tip{
            width: 300px;
            border-radius: 3px;
            border:1px solid #ddd;
            box-shadow: 1px 1px 20px #ddd;
            padding:20px 30px;
            position: absolute;
            top:10px;
            right: 100px;
        }
        .text-danger{text-align: center;}
    </style>

 {% endblock %}

{% block custome_content %}

<div class="container pt-5">
<div class="el-tip-info">
    <h3>借款提示</h3>
    <p>{{ message }}，请耐心等待，谢谢！</p>
</div>


</div>



{% endblock %}